/* Global styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Geist', sans-serif; /* Default font for body */
  font-weight: 300;
  background-color: #1353F5;
  color: #ADFF14;
}

/* Wallpogo styles */
.wallpogo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, .wallpogo__name {
  font-family: 'Playfair Display', serif; /* Font for headings */
}

.wallpogo__subtitle, .wallpogo__description {
  font-family: 'Geist', sans-serif; /* Font for subtitles and descriptions */
}

.wallpogo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  position: relative;
  width: 100%;
  z-index: 4;
}

.wallpogo__content {
  text-align: center;
  flex: 1;
  padding: 2rem;
  border-radius: 24px;
  border: 2px solid #0033B2;
  background: radial-gradient(98.3% 98.3% at 50.12% 1.7%, #0747E7 39.89%, #083BBA 100%);
  box-shadow: 0px 4px 13px 0px rgba(102, 145, 255, 0.40) inset, 0px 4px 2px 0px rgba(102, 145, 255, 0.75) inset;
  animation: fadeInSlideUp 0.5s ease-out;
}

.wallpogo__name {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 5px;
}

.wallpogo__subtitle {
  font-size: 16px;
  margin: 0 0 24px;
}

.wallpogo__description {
  font-size: 16px;
  margin: 0 0 24px;
}

.wallpogo__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.wallpogo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid #002B97;
  background: #1353F5;
  box-shadow: 0px 0px 0px 1px #1F5AEC, 0px -5px 8px 0px rgba(0, 41, 142, 0.35) inset, 0px 5px 4px 0px rgba(102, 145, 255, 0.32) inset, 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  height: 106px;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 106px;
}

.wallpogo__button,
.wallpogo__button--email {
  cursor: pointer;
}

.wallpogo__button:hover {
  box-shadow: 0px 0px 0px 1px #1F5AEC, 0px 0px 12px 0px rgba(0, 8, 27, 0.35) inset, 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
  transition: all 0.3s ease;
}

.wallpogo__button svg path {
  transition: all 0.3s ease;
}

.wallpogo__button svg {
  overflow: visible;
}

.wallpogo__button:hover svg path {
  fill: #CAD9FF;
  filter: drop-shadow(0px 0px 4px rgba(202, 217, 255, 0.32)) drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.50)) drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.50));
  transition: all 0.3s ease;
}

.wallpogo__button--email {
  font-size: 16px;
  font-weight: 500;
  color: #00298E;
  gap: 6px;
  padding: 10px 15px;
  width: auto;
  height: auto;
  transition: all 0.3s ease;
}

.wallpogo__button--email:hover {
  color: #CAD9FF;
  box-shadow: 0px 0px 6px 0px rgba(0, 8, 27, 0.45) inset, 0px 0px 0px 1px #1F5AEC;
  text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.50), 0px 0px 25px rgba(255, 255, 255, 0.50), 0px 0px 4px rgba(202, 217, 255, 0.32);
  transition: all 0.3s ease;
}

.wallpogo__button--email span {
  display: flex;
}

.wallpogo__or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 1rem;
  width: 100%;
}

.wallpogo__or-container .wallpogo__or-line {
  border-bottom: 1px solid #215df6eb;
  background: #00288C;
  height: 2.1px;
  width: 100%;
}

.wallpogo__or {
  font-size: 16px;
  font-weight: 500;
  color: #00298E;
}

.wallpogo__social-buttons {
  display: flex;
  gap: 1.2rem;
}

.wallpogo__button--social {
  font-size: 1.2rem;
}

.wallpogo__button-icon {
  width: 32px;
  height: 32px;
  fill: #00298E;
}

.wallpogo__image {
  bottom: 0;
  flex: 1;
  display: flex;
  max-width: 50%;
  opacity: 0;
  mix-blend-mode: overlay;
  right: 75px;
  animation: fadeIn 0.7s ease-out 0.5s forwards;
  position: absolute;
  z-index: 2;
}

.wallpogo__image img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  filter: grayscale(1);
}

.wallpogo__footer {
  animation: fadeIn 0.5s ease-out 0.3s forwards;
  bottom: 5px;
  position: absolute;
  opacity: 0;
  width: 100%;
}

.wallpogo__footer__content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.wallpogo__footer-light {
  border-radius: 50%;
  border: 1px solid #D3FF81;
  background: radial-gradient(85.71% 85.71% at 50% 14.29%, #ADFF14 27.13%, #243504 100%), #D9D9D9;
  box-shadow: 0px 0px 26.46px 0px #ADFF14, 0px 0px 15.12px 0px #ADFF14, 0px 0px 8.82px 0px #ADFF14, 0px 0px 4.41px 0px #ADFF14, 0px 0px 1.26px 0px #ADFF14, 0px 0px 0.63px 0px #ADFF14;
  height: 7px;
  margin-right: 8px;
  width: 7px;
}

.wallpogo__footer-text {
  font-size: 10px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .wallpogo {
    padding: 0 20px;
  }

  .wallpogo__container {
    display: block;
  }

  .wallpogo__content {
    max-width: 600px;
    padding: 1.4rem;
    width: 100%;
    margin-bottom: 18px;
  }

  .wallpogo__image {
    max-height: 250px;
    max-width: 100%;
  }

  .wallpogo__image {
    /* top: 4px;
    left: 90px;
    max-width: fit-content;
    transform: translate(-50%, 0px); */
    display: none;
  }


  .wallpogo__button {
    height: 78px;
    width: 78px;
  }

  .wallpogo__button--email {
    height: auto;
    width: auto;
  }

  .wallpogo__name {
    font-size: 20px;
  }

  .wallpogo__subtitle,
  .wallpogo__description,
  .wallpogo__button--email,
  .wallpogo__or {
    font-size: 14px;
  }
}

@media (max-width: 1480px) {
  .wallpogo__image img {
    max-width: 270px;
  }
}

/* Animations */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}